<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <h1>VUE TODO LIST</h1>
    <div id="app" >
        <input v-model="newItem" />
        <button @click="addItem">CLICCAMI</button>
        <ul>
            <li v-for="item in items" :key="item">{{ item }} <input type="checkbox" ></li>
        </ul>


    </div>




    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js.js"></script>    
</body>
</html>